*{
    font-family: var(--font-family);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.cart-bg{
    background-image: url(../../assets/images/cart-img.jpg);
    background-size: 50% ;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-color: #000000;
}
.cart-bg h2{
    color: white;
    font-weight: bold;
    font-size: 3em;
    padding: 7.5% 15%;
    text-align: right;
    text-transform: uppercase;
}
.cart-row{
    align-items: center;
}
.emty{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.shop_btn{
    width: 60%;
    background: white !important;
    color: #f40000;
    border: none;
    border-radius: 24px;
    box-shadow: 0 3px 4px rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px rgba(0,0,0,.2);
    margin: 1rem 0;
}
.shop_btn p{
    color: #f40000;
    font-size: 1rem; 
    font-weight: bold;   
    padding: .5rem 1.8rem;
    text-align: center;
}
.shop_btn:hover{
    background:#f40000 !important;
    transition: all 0.2s;
}
.shop_btn:hover p{
    color: #fff;
    transition: all 0.2s;
}
.table{
    padding: 40px 0 !important;
}
.table tr td img {
    width: 80px !important;
    height: 80px !important;
    object-fit: cover;
}
td,
th {
    color: var(--primary-color);
}

td i {
    cursor: pointer;
    margin: 20%;
}
.total{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}
.total h6 span{
    margin-left: 1rem;
}
.mt-2{
    text-align: center;
    margin: 3rem 0;
    color: #f40000;
    font-weight: bold;

}
.cart_btn{
    display: flex;
    justify-content: center;
    background: rgb(0, 0, 0);
    border: none;
    border-radius: 24px;
    box-shadow: 0 3px 4px rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px rgba(0,0,0,.2);
    margin: 1rem 0;
}
.cart_btn p{
    font-size: 1rem; 
    padding: .5rem;
    font-weight: bold; 
    color: #ffffff;
    text-align: center;
}
.cart_btn:hover{
    background:#ffffff;
    transition: all 0.2s;
}
.cart_btn:hover p{
    color: #f40000;
    transition: all 0.2s;
}